<template>
  <nav
    v-bind:class="{open: navigation_open}">

    <!-- NAV items passed using slot -->
    <slot v-if="!!this.$slots.default"/>

    <template v-else >
      <!-- Router generated nav items -->
      <router-link
        class="nav_item"
        v-for="route in nav_routes"
        v-bind:key="route.name"
        :to="{ name: route.name}">


        <component
          class="nav_item_icon"
          v-bind:is="nav_icon_component(route.nav.icon)"/>

        <span
          class="nav_item_label">
          {{route.nav.label}}
        </span>

      </router-link>
    </template>


  </nav>
</template>

<script>

import LinkIcon from 'vue-material-design-icons/Link.vue'

export default {
  name: 'TemplateHeader',
  props: {

    navigation_open: {
      type: Boolean,
      default() {return false}
    },

  },
  components: {
    LinkIcon

  },
  data(){
    return {

    }
  },
  mounted(){

  },
  methods: {
    nav_icon_component(component_name){
      if(this.$options.components[component_name]) return component_name
      else return 'LinkIcon'
    },
  },
  computed: {
    nav_routes(){
      return this.$router.options.routes
        .filter(route => { return !!route.nav })
        .sort((a,b) => {return a.nav.index - b.nav.index})
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
/* NAV */
nav {

  /* enable scroll on overflow */
  overflow-y: auto;


  /* for the border not to hit top and bottom ends */
  /* PROBABLY NOT THE BEST WAY TO DO IT */
  margin: 15px 0;

  width: 250px;
  flex-basis: 250px;
  flex-shrink: 0;
  flex-grow: 0;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-right: 1px solid #dddddd;

  transition: transform 0.5s;

  background-color: white; /* might be better defined somewhere else */

}

nav a {
  /* Navigation item */

  display: flex;
  align-items: center;
  //justify-content: center;
  justify-content: flex-start;

  font-size: 120%;
  //text-align: center;

  padding: 0.75em;





  /* behave slike a link so re-apply text attributes */
  text-decoration: none;
  color: #111111;

  transition: border-color 0.25s;

  border-right: 3px solid transparent;
}

nav a > * {
  /* spacing between icon and label */
  margin: 0 0.5em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



nav a:hover {
  border-right: 3px solid #666666;
}
nav a.router-link-exact-active {
  border-right: 3px solid #c00000;
}

/* Responsivity */
@media only screen and (max-width: 800px) {

  nav {
    /* transform margin into padding */
    margin: 0;
    padding: 15px 0;

    border: none;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%; /* WHY DOES THIS WORK ? */
    transform: translateX(-100%);
  }

  nav.open{
    transform: translateX(0%);
  }

}

</style>
