<template>
  <div id="app">

    <AppTemplate
      applicationName="Myapp has a very long name so I need to cut it down a bit"
      authenticate>

      <template v-slot:navigation>
        <router-link :to="{ name: 'Home', params: {} }"><plus-icon /><span>Short</span></router-link>
        <router-link :to="{ name: 'About', params: {} }"><inbox-arrow-down-icon /><span>Veeery Loooong</span></router-link>
      </template>

    </AppTemplate>

  </div>
</template>

<script>
import AppTemplate from './AppTemplate.vue'
import PlusIcon from 'vue-material-design-icons/Plus.vue'
import InboxArrowDownIcon from 'vue-material-design-icons/InboxArrowDown.vue';

export default {
  name: 'App',
  components: {
    AppTemplate,
    PlusIcon,
    InboxArrowDownIcon,
  },
}
</script>

<style>


</style>
