<template>
  <div class="application_wrapper">

    <TemplateHeader
      :applicationName="applicationName"
      :navigation_open="navigation_open"
      :navigation="navigation_exists"
      :logged_in="logged_in"
      :authenticate="authenticate"
      @toggle_navigation="toggle_navigation()"/>

    <!-- Login screen IF NOT LOGGED IN -->
    <!-- A BIT DIRTY -->
    <div
      class="main_column"
      v-if="show_login_screen">

      <main>
        <LoginForm
          :authentication_api_url="authentication_api_url"
          :applicationName="applicationName" />
      </main>

      <TemplateFooter
        :applicationName="applicationName" />
    </div>

    <!-- Normal display if logged in -->
    <div class="columns_wrapper" v-else>
      <!-- left column: nav -->

      <div
        class="nav_background"
        v-on:click="toggle_navigation()"
        v-bind:class="{visible: navigation_open}"/>



      <TemplateNav
        v-if="navigation_exists"
        :navigation_open="navigation_open">

        <!-- Passing nav items by slot -->
        <slot name="navigation" />

      </TemplateNav>

      <!-- right column: main and footer -->
      <div class="main_column">
        <main>

          <!-- By default, show the router-view in the main -->
          <router-view
            v-if="!this.$slots.default"
            class="view"/>

          <!-- But allow the user to specify the main content using a slot -->
          <slot v-else class="view"/>

        </main>

        <!-- Footer -->
        <TemplateFooter
          :applicationName="applicationName" />

      </div>

    </div>

  </div>
</template>

<script>

// Needed for icons to scale with text
import 'vue-material-design-icons/styles.css'

import TemplateHeader from './components/TemplateHeader.vue'
import TemplateFooter from './components/TemplateFooter.vue'
import TemplateNav from './components/TemplateNav.vue'

import LoginForm from './components/LoginForm.vue'

import VueCookies from 'vue-cookies'


export default {
  name: 'AppTemplate',
  components: {
    TemplateHeader,
    TemplateFooter,
    TemplateNav,
    LoginForm,
  },
  props: {
    applicationName: {
      type: String,
    },
    authenticate: {
      type: Boolean,
      default(){return false}
    },
  },
  data(){
    return {
      navigation_open: false,
      logged_in: false,
      authentication_api_url: process.env.VUE_APP_AUTHENTICATION_API_URL
        || process.env.VUE_APP_AUTHENTICATION_MANAGER_API_URL
        || process.env.VUE_APP_AUTHENTICATION_MANAGER_URL
        || process.env.VUE_APP_AUTHENTICATION_URL,
    }
  },
  mounted(){
    this.check_login()
  },
  methods: {
    toggle_navigation(){
      this.navigation_open = !this.navigation_open
    },
    check_login(){
      let jwt = VueCookies.get('jwt')
      this.logged_in = !!jwt

      // Set Auth header if using axios globally
      if(this.axios){
        if(this.logged_in) this.axios.defaults.headers.common['Authorization'] = `Bearer ${jwt}`
        else delete this.axios.defaults.headers.common['Authorization']
      }

    },

  },
  computed: {
    navigation_control_icon(){
      if(this.navigation_open) return "mdi-backburger"
      else return "mdi-menu"
    },
    show_login_screen() {
      return !this.logged_in
        && this.authentication_api_url
        && this.authenticate
    },
    navigation_exists() {
      return !!this.$slots.navigation
        || !!this.$router.options.routes.find(route => { return !!route.nav })
    },

  }
}
</script>

<!-- Not scoped so as to access body and app -->
<style>

.material-design-icon > .material-design-icon__svg {
  /* fixing annoyance with mdi */
  bottom: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  /* TEXT */
  /* font */
  font-family: Helvetica, Meiryo, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* default text color */
  color: #111111;

}

.application_wrapper {

  /* default text color */
  color: #111111;

  /* Take all the vertical viewport space */
  height: 100vh;

  /* vertical layout */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.rotating_logo {
  animation-name: logo_rotation;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes logo_rotation {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}

}



.columns_wrapper{

  /* used to position nav when mobile view*/
  position: relative;

  /* take all avvailable vertical space */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  /* WHY IS THIS WORKING? */
  overflow-y: auto;

  /* Get columns side by side */
  display: flex;
  flex-direction: row;
}





/* must not be placed inside nav because of transform */
.nav_background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}

.main_column {



  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  flex-grow: 1;
  margin: 1em;

}




/* Responsivity */
@media only screen and (max-width: 800px) {


  .nav_background.visible {
    opacity: 0.5;
    visibility: visible;;
  }

}

</style>
